$white: #ffffff;
$black: #000000;
$primary1: #f4cd2a;
$primary2: #5b9c2c;

@mixin main-font {
  font-family: "Poppins", sans-serif;
}



@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  border-radius: $bRadius;
  transition: all .3s;

  &:hover {
    background-color: #313130;
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
  }
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*header section*/

.hero_area {
  position: relative;

}

.sub_page {
  .hero_area {
    height: auto;
  }
}

.header_section {
  background-color: $primary2;

  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }

  .nav_container {
    margin: 0 auto;
  }
}

.custom_nav-container {
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 10px 30px;
        color: $white;
        text-align: center;
        text-transform: uppercase;
      }

      &:hover {
        .nav-link {
          color: $primary1;
        }
      }
    }
  }
}



.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  color: $white;

  span {
    color: $primary1;
  }

  &:hover {
    color: $white;

    span {
      color: $primary1;
    }
  }
}

.quote_btn-container {
  display: flex;
  align-items: center;

  a {
    color: $white;
    margin: 0 30px;

    &:hover {

      color: $primary1;
    }
  }
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: $white;

  &:hover {

    color: $primary1;
  }
}



.custom_nav-container {
  z-index: 99999;
}



.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all .3s;

  span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: $white;
    border-radius: 5px;
    margin: 7px 0;
    transition: all 0.3s;
    position: relative;
    transition: all .3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      border-radius: 5px;
      top: -10px;
      transition: all .3s;
    }

    &::after {
      top: 10px;
    }
  }

  &[aria-expanded="true"] {
    transform: rotate(360deg);

    span {
      transform: rotate(45deg);

      &::before,
      &::after {
        transform: rotate(90deg);
        top: 0;
      }
    }

    .s-1 {
      transform: rotate(45deg);
      margin: 0;
      margin-bottom: -4px;
    }

    .s-2 {
      display: none;
    }

    .s-3 {
      transform: rotate(-45deg);
      margin: 0;
      margin-top: -4px;
    }
  }

  &[aria-expanded="false"] {

    .s-1,
    .s-2,
    .s-3 {
      transform: none;
    }
  }
}



/*end header section*/

/* slider section */
.slider_section {
  position: relative;
  z-index: 2;
  background-image: url(../images/slider-bg.jpg);
  background-size: cover;
  background-position: top;
  padding: 75px 0 90px 0;

  .box {
    margin: 0 75px;
  }

  .detail_box {
    color: $white;
    position: relative;
    z-index: 2;

    h1 {
      font-size: 3.5rem;
      color: #252424;
      font-weight: bold;
      margin-bottom: 30px;
    }

    a {
      @include hero_btn(#252424, $white, 10px, 40px, 0);
    }
  }

  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;

    img {
      width: 100%;
    }
  }

  .carousel_btn-box {
    position: absolute;
    bottom: 0;
    left: 10%;
    display: flex;
    transform: translateY(50%);

    .carousel-control-prev,
    .carousel-control-next {
      position: unset;
      width: 55px;
      height: 55px;
      font-size: 14px;
      border-radius: 100%;
      background-color: $white;
      opacity: 1;
      color: $primary2;
      margin: 0 2.5px;
      box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .3);

      &:hover {
        color: $primary1;
      }
    }
  }


}

// end slider section

// about flower common section
.about_flower_common_section {
  .row {
    align-items: center;
  }

  .img-box {
    img {
      max-width: 100%;
    }
  }

  .detail-box {
    p {
      margin-top: 15px;
    }

    a {
      margin-top: 25px;
      @include hero_btn($primary2, $white, 10px, 45px, 0);
      text-transform: uppercase;

    }
  }
}

// end about flower common section

.tellmed_btn {
  margin-top: 25px;
  display: inline-block;
  padding: 10px 45px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
}

// about section
.about_section {}

// end about section

// flower section
.flower_section {}

// end flower section


// product section

.product_section {
  background-image: url(../images/product-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;

  .heading_container {
    align-items: center;
    text-align: center;
    margin-bottom: 45px;
  }

  .product_container {
    padding: 0 10%;
  }

  .box {
    text-align: center;
    margin: 0 15px;

    .img-box {
      img {
        width: 100%;
      }
    }

    .name {
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 0;
    }
  }

  .slick-prev,
  .slick-next {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: $white;
    color: $primary2;

    &:hover {
      &:before {
        color: $primary1;
      }
    }
  }

  .slick-prev {
    left: 15px;
  }

  .slick-next {
    right: 15px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-family: "FontAwesome";
    position: relative;
    z-index: 2;
    color: $primary2;
    font-size: 14px;
    opacity: 1;
  }

  .slick-prev:before {
    content: "\f060";
  }

  .slick-next:before {
    content: "\f061";
  }
}

// end product section

// why section

.why_section {
  .heading_container {
    h2 {
      text-transform: none;
    }
  }

  .box {
    margin-top: 45px;

    .img-box {
      width: 125px;

      img {
        width: 100%;
      }
    }

    .detail-box {
      margin-top: 15px;
      margin-left: 10px;

      h5 {
        font-weight: 600;
        font-size: 20px;
      }

      p {}

      a {
        @include hero_btn($primary2, $white, 10px, 45px, 0);
        margin-top: 10px;
      }
    }


  }
}

// end why section

// client section

.client_section {

  .heading_container {
    align-items: center;
    text-align: center;
    margin-bottom: 45px;

    h2 {
      text-transform: none;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .img-box {
      position: relative;
      width: 225px;
      padding: 35px;
      background-image: url(../images/client_img-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      img {
        width: 100%;
        position: relative;
        z-index: 3;
      }


    }

    .detail-box {
      margin-top: 20px;

      h5 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }



  .carousel-indicators {
    position: unset;
    margin: 0;
    margin-top: 45px;

    li {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: #2a2a2a;
      opacity: 1;

      &.active {
        background-color: $primary2;
      }
    }
  }
}

// end client section

// info section
.info_section {
  background-color: #2a2a2a;
  color: $white;
  padding: 45px 0 15px 0;


  .info_contact_container {
    text-align: center;

    h3 {
      font-weight: bold;
      margin-bottom: 15px;
    }

    .info_contact_box {

      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      a {
        display: flex;
        align-items: center;
        color: $white;
        margin: 10px;

        i {
          margin-right: 5px;
          font-size: 1.5em;
        }

        &:hover {
          color: $primary1;
        }
      }
    }
  }

  .social_box {
    margin: 35px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    a {
      color: $white;
      margin: 0 10px;
      font-size: 28px;

      &:hover {
        color: $primary1;
      }
    }
  }

  .info_link_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      color: $white;
      padding: 10px 30px;

      &:hover {
        color: $primary1;
      }
    }
  }
}

// end info section

/* footer section*/

.footer_section {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #2a2a2a;
}

.footer_section p {
  color: $white;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #414141;
  padding: 25px 0;
}

.footer_section {
  a {
    color: inherit;
  }
}

// end footer section