
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Droid Serif', serif;
}
/*-- main --*/
.main{
	padding:3.1em 0;
	
}
.main-info,.main-info2{
	width:30%;
	margin:0 auto;
	background:#fff;
	padding:2em;
	position:relative;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	box-shadow: 2px 3px 10px #ACACAC;
	-webkit-box-shadow: 2px 3px 10px #ACACAC;
	-moz-box-shadow: 2px 3px 10px #ACACAC;
	-o-box-shadow: 2px 3px 10px #ACACAC;
	-ms-box-shadow: 2px 3px 10px #ACACAC;
}
.main-pos{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5754f2+45,8daddd+100 */
background: rgb(87,84,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(87,84,242,1) 45%, rgba(141,173,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(45%,rgba(87,84,242,1)), color-stop(100%,rgba(141,173,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(87,84,242,1) 45%,rgba(141,173,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(87,84,242,1) 45%,rgba(141,173,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(87,84,242,1) 45%,rgba(141,173,221,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(254, 250, 234, 0.97) 45%,rgb(252, 245, 203) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5754f2', endColorstr='#8daddd',GradientType=0 ); /* IE6-9 */

    border-radius: 85%;
    padding: 1.5em 0.8em;
    width: 8.5%;
    top: -7%;
    left: 43%;
    position: absolute;
}
.main-pos span{
	
	display:block;
	height:24px;
}
.main-info1 h3{
	font-size:2em;
	color:#2c3e50;
	margin:1em 0;
	text-align:center;
	position:relative;
}
.main-info1 h3:before{
	position: absolute;
    top: 46%;
    left: 20%;
    width: 14%;
    height: 1px;
    background:#f44336;
    content: '';
}
.main-info1 h3:after{
	position: absolute;
    top: 46%;
    right: 20%;
    width: 14%;
    height: 1px;
    background:#f44336;
    content: '';
}
.main-info1 input[type="text"],.main-info1 input[type="password"]{
	background:none;
	border:1px solid #999;
	font-size:14px;
	color:#999;
	padding:13px 10px;
	outline:none;
	width:96%;
}
.main-info1 input[type="password"]{
	margin:1em 0 2em;
}
.main-info1 input[type="submit"]{
	outline:none;
	background:#1abc9c;
	padding:13px 0;
	width:100%;
	text-align:center;
	font-size:16px;
	border:none;
	color:#fff;
	cursor:pointer;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.main-info1 input[type="submit"]:hover{
	background:#999;
}
.main-info1 p{
	margin:2em 0 0;
	color:#999;
	font-style:italic;
	font-size:14px;
	text-align:center;
}
.main-info1 p a{
	text-decoration:none;
	color:#000;
}
.main-info1 p a:hover{
	color:#803F5F;
}
.main-info2{
	margin:5em auto 0;
	background:#fff !important;
}
.main-info2 h3{
	width: 40%;
    font-size: 2em;
    color:#D3CCA9;
    margin: 1em auto;
	text-align:center;
	padding:0 0 .5em;
	border-bottom:1px dashed #D3CCA9;
}
/*-- sign-in --*/
.in-form input[type="text"],.in-form input[type="password"]{
	background: none;
    border: 1px solid #999;
    font-size: 14px;
    color: #999;
    padding: 13px 10px;
    outline: none;
    width: 96%;
	}
.in-form input[type="password"]{
	margin:1em 0;
	}
.in-form::-webkit-input-placeholder{
	color:#fff !important;
	}
.checkbox-form{
	position:absolute;
	top:15%;
	width: 100%;
}
.check{
	margin:1em 0 0;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 38px !important;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
	    font-weight: 400;
}
.checkbox {
	position: relative;
	font-size: 14px;
	color:#999;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.checkbox i {
	position: absolute;
	bottom: -2px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border:2px solid #E9E4E4;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick-mark.png") no-repeat 1px 2px;
	top: 5px;
    left: 2px;
	width: 15px;																																																																																													
	height: 15px;
	font: normal 12px/16px FontAwesome;																																						
	text-align: center;
}					
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
	}
.checkbox input:checked + i:after {
	opacity: 1;
}
.ckeck-bg{
	position:relative;
	min-height: 85px;
}
.check-sub input[type="submit"] {
	border: none;
    outline: none;
    color: #FFF;
    padding: 12px 0px;
	width:100%;
	text-align:center;
    font-size: 16px;
    margin: 2em 0 0 0;
    -webkit-appearance: none;
    background:#D3CCA9;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
	cursor:pointer;
 }
.check-sub input[type="submit"]:hover{
	background: #999;
    color: #fff;
}	
.check-sub {
    border-top: 1px dashed #999;
}
/*-- //sign-in --*/
.main h1{
	font-size: 2em;
    color: #042d40;
    margin: 0 0 3em;
    text-align: center;
}
.copy-right{
	margin:3em 0 0;
	text-align:center;
}
.copy-right p{
	font-size:14px;
	margin:0;
	color:#2c3e50;
}
.copy-right p a{
	color:#042d40;
}
.copy-right p a:hover{
	color:#000;
}
/*-- //main --*/
/*-----start-responsive-design------*/
@media (max-width:1440px){
	.main-pos{
	    width: 9.5%;
	}
}
@media (max-width: 1366px){
	.main-pos {
		width: 10%;
	}
}
@media (max-width: 1280px){
	.main-info, .main-info2 {
		width: 33%;
	}
}
@media (max-width: 1024px){
	.main {
		padding: 4em 0;
	}
	.main h1 {
		margin: 0 0 2em;
	}
	.main-info, .main-info2 {
		width: 40%;
	}
}
@media (max-width:768px){
	.main-info1 h3,.main-info2 h3 {
		font-size: 1.6em;
	}
	.main-info, .main-info2 {
		width: 55%;
	}
	.main-info2 {
		margin: 3em auto 0;
	}
}
@media (max-width:667px){
	.main-pos {
		width: 11%;
	}
}
@media (max-width:640px){
	.main h1 {
		font-size: 1.8em;
	}
	.main-pos {
		width: 12%;
	}
	.main-info1 h3, .main-info2 h3 {
		font-size: 1.5em;
	}
}
@media (max-width:568px){
	.main-pos {
		width: 12.5%;
	}
}
@media (max-width:480px){
	.main {
		padding: 3em 0;
	}
	.main h1 {
		font-size: 1.5em;
	}
	.main-info, .main-info2 {
		width: 70%;
	}
	.main-info1 input[type="text"], .main-info1 input[type="password"],.in-form input[type="text"], .in-form input[type="password"] {
		padding: 10px 10px;
	}
	.main-info1 input[type="password"] {
		margin: 1em 0 1.5em;
	}
	.main-info1 input[type="submit"],.check-sub input[type="submit"] {
		padding: 10px 0;
		font-size: 14px;
	}
	.check {
		margin: 0;
	}
	.ckeck-bg {
		min-height: 70px;
	}
	.main-info2 {
		margin: 2em auto 0;
	}
	.main-info2 h3 {
		margin: 0em auto 1em;
	}
	.main-pos{
		left: 41.5%;
	}
	.main-info1 h3 {
		margin: 1.5em 0 1em;
	}
}
@media (max-width:480px){
	.main-pos{
		padding: 1.3em 0.8em;
	}
}
@media (max-width:384px){
	.main-pos span {
		background: url(../images/1.png) no-repeat 8px 0px;
	}
}
@media (max-width: 320px){
	.main {
		padding: 2em 0;
	}
	.main-pos {
		width: 14%;
		left: 39.5%;
		top: -13%;
	}
	.main-info1 h3 {
		margin: 1em 0 1em;
	}
	.main-info1 h3, .main-info2 h3 {
		font-size: 1.3em;
	}
	.main-info1 h3:before {
		left: -1%;
		width: 30%;
	}
	.main-info1 h3:before {
		right: -1%;
		width: 30%;
	}
	.main-info, .main-info2 {
		padding: 1em;
		width: 80%;
	}
	.main-info1 input[type="text"], .main-info1 input[type="password"],.in-form input[type="text"], .in-form input[type="password"] {
		width: 91%;
	}
	.main-info1 p {
		margin: 1.5em 0;
		font-size: 13px;
	}
	.main-info1 input[type="text"], .main-info1 input[type="password"],.in-form input[type="text"], .in-form input[type="password"] {
		font-size: 13px;
	}
	.checkbox,.copy-right p {
		font-size: 13px;
	}
	.checkbox i {
		bottom: -4px;
	}
	.copy-right {
		margin: 2em 0 0;
	}
	.main h1 {
		margin: 0 0 2.5em;
	}
}